$main__color_theme_1: #3b4664;
$main__color_theme_1_screen: #181f32;
$main__color_theme_1_screen_input: #fdffff;
$main__color_theme_1_button: #eae3db;
$main__color_theme_1_button_one: #647299;
$main__color_theme_1_button_two: #d13f30;

$second__color_theme_2: #e6e6e6;
$second__color_theme_2_screen: #ededed;
$second__color_theme_2_calc: #3c2428;
$second__color_theme_2_switch: #d1cccc;
$second__color_theme_2_dot: #ca5502;
$main__color_theme_2_screen_input:#37372d;
$main__color_theme_2_button: #e5e4e0;
$main__color_theme_2_calc_background: #d3cdcd;
$main__color_theme_2_button_one: #388187;
$main__color_theme_2_button_two: #c85401;

$second__color_theme_3: #160628;
$second__color_theme_3_screen: #1d0934;
$second__color_theme_3_calc: #fbe53d;
$second__color_theme_3_switch: #1d0934;
$second__color_theme_3_dot: #00e0d1;
$main__color_theme_3_screen_input: #ffe53c;
$main__color_theme_3_button: #331b4d;
 $main__color_theme_3_calc_background: #1e0836; 
$main__color_theme_3_button_one: #56077b;
$main__color_theme_3_button_two: #00decf;
